/Users/ti/Dropbox/giant/11_presentation_archives/DeSciTokyo.pptx filter=lfs diff=lfs merge=lfs -text
/Users/ti/Dropbox/giant/11_presentation_archives/DeSciTokyo/GIANT10.pptx filter=lfs diff=lfs merge=lfs -text
/Users/ti/Dropbox/giant/11_presentation_archives/DeSciTokyo/GIANT10_modified.pptx filter=lfs diff=lfs merge=lfs -text
/Users/ti/Dropbox/giant/11_presentation_archives/DeSciTokyo/GIANT11d.pptx filter=lfs diff=lfs merge=lfs -text
/Users/ti/Dropbox/giant/11_presentation_archives/DeSciTokyo/GIANT12.pptx filter=lfs diff=lfs merge=lfs -text
/Users/ti/Dropbox/giant/11_presentation_archives/DeSciTokyo/GIANT4.pptx filter=lfs diff=lfs merge=lfs -text
/Users/ti/Dropbox/giant/11_presentation_archives/DeSciTokyo/GIANT5.pptx filter=lfs diff=lfs merge=lfs -text
/Users/ti/Dropbox/giant/11_presentation_archives/DeSciTokyo/GIANT6.pptx filter=lfs diff=lfs merge=lfs -text
/Users/ti/Dropbox/giant/11_presentation_archives/DeSciTokyo/GIANT7これを修正してください.pptx filter=lfs diff=lfs merge=lfs -text
/Users/ti/Dropbox/giant/11_presentation_archives/DeSciTokyo/GIANT8.pptx filter=lfs diff=lfs merge=lfs -text
/Users/ti/Dropbox/giant/11_presentation_archives/DeSciTokyo/GIANT9.pptx filter=lfs diff=lfs merge=lfs -text
/Users/ti/Dropbox/giant/11_presentation_archives/DeSciTokyo/GIANT_modified.pptx filter=lfs diff=lfs merge=lfs -text
/Users/ti/Dropbox/giant/11_presentation_archives/DeSciTokyo/GIANT_monaka.pptx filter=lfs diff=lfs merge=lfs -text
/Users/ti/Dropbox/giant/11_presentation_archives/DeSciTokyo/ｘｘ1.pptx filter=lfs diff=lfs merge=lfs -text
/Users/ti/Dropbox/giant/11_presentation_archives/Entrepreneurship/giant.ai filter=lfs diff=lfs merge=lfs -text
/Users/ti/Dropbox/giant/11_presentation_archives/Entrepreneurship/giant_a4.ai filter=lfs diff=lfs merge=lfs -text
/Users/ti/Dropbox/giant/11_presentation_archives/Entrepreneurship/giant_a4_outlined.ai filter=lfs diff=lfs merge=lfs -text
/Users/ti/Dropbox/giant/11_presentation_archives/FutureResearchObjectives_Eng.pdf filter=lfs diff=lfs merge=lfs -text
/Users/ti/Dropbox/giant/11_presentation_archives/FutureResearchObjectives_dist.pdf filter=lfs diff=lfs merge=lfs -text
